# Compiled output
/dist
/out-tsc

# Dependencies
/node_modules

# Angular cache
/.angular/cache

# IDE files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Debug logs
npm-debug.log

# System files
.DS_Store
Thumbs.db
