.about-section {
  background-color: #333;
  color: #ffffff;
  position: relative;
}

.about-title {
  color: #fbff14;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 1rem;
}

.about-text {
  max-width: 75%;
  font-size: 1.1rem;
  line-height: 1.7; 
  color: #dddddd;
  margin-bottom: 2rem;
}

.py-5 {
  padding-top: 0 !important;
  padding-bottom: 3rem;
}

/* Accent divider */
.about-section::after {
  content: '';
  display: block;
  width: 70px;
  height: 4px;
  background-color: #fbff14;
  margin: 25px auto 0;
}

/* Hero section */
.hero-image {
  background-size: cover; 
  background-position: center 85%; 
  min-height: clamp(380px, 50vh, 600px);
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.45)), url('/MindflayerSpr26/CatMonStudios.png');
  border-top: #fbff14 solid 2px; border-bottom: #fbff14 solid 2px;

}

.hero-text {
  text-align: center; 
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.hero-text h1 {
  font-size: clamp(2.2rem, 6vw, 8rem); 
  margin-bottom: 1rem; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: .35rem;
}

.hero-text h3 {
  font-size: clamp(1.2rem, 4vw, 2.5rem); 
  margin-bottom: 0; 
}

/* Team member cards */

.about-card {
  background-color: #444;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  max-width: 540px;
}

.about-card img {
  width: 100%;
  border-radius: 50px;
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0rem;
}

.card-text{
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #ddd;
}

@media (min-width: 425px) {
  .card-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}